{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block title %}Kilava | {{ setting.title }}{% endblock %}
{% block meta_seo %}
    <meta name="description" content="{{ setting.tag_description }}"/>
    <meta name="keywords" content="{{ setting.tag_keywords }}">
    <meta property="og:title" content="{{ setting.title }}">
    <meta property="og:description" content="{{ setting.tag_description }}">
    <meta property="og:type" content="Kilava">
    <meta property="og:url" content="{{ setting.link }}">
    <meta property="og:image" content="{{ setting.logo.url }}">
{% endblock %}
{% block content %}

<section class="hero-wrap style3 bg-f hero-bg-1" data-background="{% if setting.bg_slider_home %}{{ setting.bg_slider_home.url }}{% endif %}">
    <div class="overlay bg-vulcan op-9"></div>
    <div class="hero-slider-one swiper-container">
    <div class="swiper-wrapper">
    {% for service in services %}
        <div class="swiper-slide">
            <div class="hero-slider-item">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="hero-content">
                                <span>WHAT WE DO</span>
                                <h1>{{ service.title }}</h1>
                                <p>{{ service.subtitle }}</p>
                                <div class="hero-btn">
                                    <a href="{{ service.get_absolute_url }}" class="btn style1">more know</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero-img">
                                <img class="hero-slider-shape" src="{% static 'img/hero-shape-10.png' %}" alt="Image">
                                <img class="hero-slider-img" src="{{ service.image.url }}" alt="{{ service.title }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="hero-slide-prev slider-btn style2"><i class="flaticon-left-arrow-1"></i></div>
    <div class="hero-slide-next slider-btn style2"><i class="flaticon-next"></i></div>
    </div>
    </section>
    <section class="about-wrap style3 pb-100">
    <div class="container">
    <div class="row gx-5 align-items-center">
    <div class="col-lg-6">
    <div class="about-img-wrap">
    <div class="about-img-one">
    <div class="about-img bg-f about-bg-3" data-background="{% if setting.bg_sm_homeSectionOne %}{{ setting.bg_sm_homeSectionOne.url }}{% endif %}"></div>
    </div>
    <div class="about-img-two">
    <div class="about-img-text">
    {{ setting.title_top_homeSectionOne|safe }}
    </div>
    <div class="about-img bg-f about-bg-4" data-background="{% if setting.bg_lg_homeSectionOne %}{{ setting.bg_lg_homeSectionOne.url }}{% endif %}"></div>
    <div class="about-img-text">
    {{ setting.title_bottom_homeSectionOne|safe }}
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
     <div class="about-content">
    <div class="content-title style1">
    {{ setting.info_homeSectionOne|safe }}
    <a href="{% url "About:about-us" %}" class="btn style3">more know</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="why-choose-wrap style3 ptb-100 bg-1">
    <div class="container">
    <div class="row gx-5">
    <div class="col-lg-6">
    <div class="why-choose-content">
    
    <div class="wh-item-wrap style2">
    <div class="wh-item">
    <div class="wh-icon">
    <i class="flaticon-mountain"></i>
    </div>
    <div class="wh-text">
    <h5><a href="#">
        Target</a></h5>
    <p>
        Kilava Engineering exists to make the world sustainable for future generations by creating responsible and ethical recycling and reuse solutions that manage and recover value.    </p>
    </div>
    </div>
    <div class="wh-item">
    <div class="wh-icon">
    <i class="flaticon-diamond"></i>
    </div>
    <div class="wh-text">
    <h5><a href="#">
        vision</a></h5>
    <p>
        Provide global leadership by promoting and adhering to environmental, ethical, quality, data safety and health standards.    </p>
    </div>
    </div>
    <div class="wh-item">
    <div class="wh-icon">
    <i class="flaticon-analytics-1"></i>
    </div>
    <div class="wh-text">
    <h5><a href="#">
        Value</a></h5>
    <p>
        We provide our clients with customized solutions that allow them to focus on their core business with the confidence that they will receive maximum value.
    </p>
    </div>
    </div>
    <div class="wh-item">
    <div class="wh-icon">
    <i class="flaticon-analytics-1"></i>
    </div>
    <div class="wh-text">
    <h5><a href="#">obligation</a></h5>
    <p>
        Use your ever-adaptive global footprint to access international markets to grow your business responsibly for your employees, customers and partners.
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="wh-img bg-f wh-bg-4" data-background="{% if setting.bg_homeSectionTwo %}{{ setting.bg_homeSectionTwo.url }}{% endif %}">
    <div class="tr-text-wrap">
    <h2 class="transparent-text">
    <span>100%</span> Trusted company
    </h2>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}
